// fonts
$open-sans        : "Open Sans";

// colors

$black          : #2A2A2A;
$white          : #FFFFFF;

// responsive

$mobile         : 480px;
$tablet         : 768px;
$netbook        : 1024px;
$notebook       : 1440px;
$notebook-s     : 1366px;
$large          : 1920px;